* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    /*border: .1vw solid; /*For convinience only, will be removed*/
    padding: 1vw;
    margin: .5vw;
    text-align: justify;
    }

header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

header section {
    border-radius: 5vw;
    background-color: #84b0c9;
}

section img {
    width: 20vw;
    height: 20vw;  
    }
 
nav {
    border-radius: 5vw;
    background-color: #84b0c9;
    text-align: center;
    justify-content: center;
    }

ul {
    text-align: center;
}

li {
    display: inline-block;
    text-align: center;
    }

body section {
    display: flex;
    flex-direction: row;
    
}

section article {
    border-radius: 5vw;
    background-color: #84b0c9;
}
    

form label {
    display: block;
}

form input {
    width: 50vw;
}



fieldset {
    width: 80vw;
    text-align: center;
    margin: 0.2vw;
}

label {
    text-align: center;
}


section div {
    display: grid;
    grid-template-columns: auto auto auto;
   }

footer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border-top: .2vw solid;
}

footer img {
    width: 5vw;
    height: 5vw;
    display: inline;
}

footer p {
    display: inline;
}
  
