* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    border: .1vw solid; /*For convinience only, will be removed*/
    padding: 1vw;
    margin: 1vw;
    text-align: justify;
    }

header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    }

section img {
    width: 20vw;
    height: 20vw;  
    }
 
nav {
    text-align: justify;
    justify-content: center;
    }

li {
    display: inline-block;
    }
