* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    /*border: .1vw solid; /*For convinience only, will be removed*/
    padding: 1vw;
    margin: .5vw;
    text-align: justify;
    }

header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    }

section img {
    width: 20vw;
    height: 20vw;  
    }
 
nav {
    text-align: center;
    justify-content: center;
    }

ul {
    text-align: center;
}

li {
    display: inline-block;
    text-align: center;
    }

body section {
    display: flex;
    flex-direction: row;
}

form label {
    display: block;
}

form input {
    width: 50vw;
}

.memb {
    display: flex;
}

fieldset {
    width: 80vw;
    text-align: center;
   
}

